/* UNIVERSAL */

body {
    display: block;
    margin: 0px;
    overflow-x: hidden;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1,h2,h3,h4,h5,h6 {
    display: block;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: normal;
    margin: 0;
}
img {
  vertical-align: inherit;
}

/* ADOBE FONT NOTES BELOW */
/*
--USE-- Sofia Pro Light
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: normal;

--USE-- Sofia Pro Semi Bold
font-family: sofia-pro, sans-serif;
font-weight: 600;
font-style: normal;

--BACKUP IF NEEDED-- Sofia Pro Bold
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: normal;
--BACKUP IF NEEDED-- Sofia Pro Regular
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;
*/

.section1 {
  width: 100%;
  height: auto;
  min-height: 1150px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.section1 .s1_contain {
  width: 100%;
  display: flex;
}
.section1 .s1_contain img.img1_1-2 { /* Honey Comb Pattern */
  position: absolute;
  bottom: 0px;
  left: -25px;
  height: 1200px;
  width: auto;
  z-index: 2;
}
.section1 .s1_contain img.img1_2-2 { /* Parkland Building */
  position: absolute;
  bottom: -107px;
  right: 0px;
  height: 1180px;
  width: auto;
  z-index: 3;
}

/* SEC 1 TOP Left Content */

.section1 .s1_top {
  padding-left: 85px;
  padding-top: 60px;
  position: relative;
  z-index: 5;
}
.section1 .s1_top a.one img.logo-top {
  width: 124px;
  height: 54px;
}
.section1 .s1_top a.one {

}
.section1 .s1_top h1 {
  font-family: sofia-pro;
  font-weight: 600;
  font-size: 57px;
  line-height: 68px;
  color: #28282A;
  padding-top: 215px;
  max-width: 500px;
}
.section1 .s1_top h1 span {
  color: #074BC3;
}
.section1 .s1_top p {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  color: #5D5E71;
  padding-top: 20px;
  max-width: 450px;
}
/* SEC 1 Pull Up Form */

#vn {
  transition: 0.3s;
}
.section1 .s1_pullup {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 500px;
  height: 800px;
  z-index: 20;
  transition: 0.3s;
}
.section1 .s1_pullup.f-pre {
  bottom: -700px;
  display: block;
  transition: 0.2s;
}
.section1 .s1_pullup .f-pretab {
  height: 100px;
  width: 552px;
  border-radius: 0 5px 0 0;
  background: linear-gradient(180deg, #1182E3 0%, #074BC3 100%);
  position: relative;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;

}
.section1 .s1_pullup .f-pretab .b-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.section1 .s1_pullup .f-pretab .b-wrap h3 {
  font-family: sofia-pro;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 19px;
  color: #FFFFFF;
  padding-right: 163px;
  text-transform: uppercase;
}
.section1 .s1_pullup .f-pretab .b-wrap img.slider {
  height: 12px;
  width: auto;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}
/* SEC 1, SLIDE UP FORM */
.theform {
  display: none;
  width: 552px;
  height: 950px;
  background-color: #fff;
  bottom: 0px;
  position: relative;
  border-radius: 0 5px 0 0;
  transition: all .5s ease-in-out;
}
.theform.form-up {
  bottom: 950px;
  transition: all .5s ease-in-out;
}

.theform .se9-form {
  width: 436px;
  height: 860px;
  margin: auto;
  padding-top: 50px;
}
.theform .se9-form h1 {
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #28282A;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 11px;
}
.theform .se9-form form {
  width: 100%;
  height: auto;
}
.theform .se9-form form .lin1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 8px;
}
.theform .se9-form form .lin1 .l1-l {
  width: 201px;
  display: flex;
  flex-direction: column;
}
.theform .se9-form form .lin1 .l1-r {
  width: 214px;
  display: flex;
  flex-direction: column;
}
.theform .se9-form form label {
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 19px;
  color: #878787;
  opacity: 0.7;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.theform .se9-form form input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #CFD1DA;
  border-radius: 8px;
  box-sizing: border-box;
  background: transparent;
  opacity: 0.56;
  height: 50px;
  color: #878787;
}
.theform .se9-form form .lin2 {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
.theform .se9-form form .lin3 {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.theform .se9-form select#inter {
  -webkit-appearance: textarea;
}
.theform .se9-form .selectdiv {
  position: relative;
  display: flex;
  flex-direction: column;
}

.theform .se9-form .selectdiv:after {
    content: '\f0d7';
    font: normal normal normal 17px/1 FontAwesome;
    color: #C7C7C7;
    right: 11px;
    top: 12px;
    height: 50px;
    padding: 20px 25px 0px 30px;
    border-left: 1px solid #D9DCE2;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
.theform .se9-form select::-ms-expand {
display: none;
}

.theform .se9-form .selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 23px;
  display: block;
  width: 100%;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  color: #c3c3c7;
  background: transparent;
  opacity: 0.8;
  border: 1px solid #CFD1DA;
  -ms-word-break: normal;
  word-break: normal;
  margin-top: 12px;
}
.theform .se9-form .selectdiv select option {
  opacity: 0.3;
}

/* SEC 9 FORM, Field 5 */

.theform .se9-form form .lin5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 8px;
}
.theform .se9-form form .lin5 .l1-l {
  width: 248px;
  display: flex;
  flex-direction: column;
}
.theform .se9-form form .lin5 .l1-r {
  width: 169px;
  display: flex;
  flex-direction: column;
}

/* SEC 9 FORM, Field 6 TextArea */

.theform .se9-form form .lin6 {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
.theform .se9-form form .lin6 textarea.f6 {
  background-color: transparent;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #CFD1DA;
  opacity: 0.56;
  margin-top: 8px;
  height: 90px;
  color: #fff;
}
/* SEC 9 FORM, Field 7 ReCAPTCHA + SUBMIT */

.theform .se9-form form .lin7 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 16px;
  padding-bottom: 8px;
  position: relative;
}
.theform .se9-form form .lin7 .l1-l {
  width: 274px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
}
.theform .se9-form form .lin7 .l1-r {
  width: 186px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  bottom: -150px;
}
.theform .se9-form input[type=submit] {
  width: 100%;
  background-color: transparent;
  padding: 14px 12px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 19px;
  color: #28282A;
  text-transform: uppercase;
}

/* -------------- */
/* SEC 1 FORM END */
/* -------------- */

/*
Form goes to: -
certrequest@bradleyinsurance.com
AND
adp.coi.center@aon.com
(can we reference QT8 in the subject line?)
*/

.theform .f-close {
  height: 90px;
  width: 81px;
  background-color: #074BC3;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 471px;
  border-radius: 0 5px 0 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.theform .f-close .iclose {
  height: 14px;
  width: auto;
  transform: rotate(-90deg);
  margin: auto;
}

.no-show {
  display: none;
}
/* SEC 2 */
.section2 {
  width: 100%;
  height: auto;
  min-height: 136px;
  background-color: #5D5E71;
  display: flex;
  align-items: center;
}
.section2 .s2_wrap {
  width: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 .s2_wrap h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #FFFFFF;
}
.section2 .s2_wrap a {
  border: 1px solid #FFFFFF;
  text-decoration: none;
}
.section2 .s2_wrap a .s2btnwrap {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;

}
.section2 .s2_wrap a .s2btnwrap h5 {
  font-family: sofia-pro;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  padding-right: 25px;
}
.section2 .s2_wrap a .s2btnwrap img.b_arrow {
  height: 8px;
  width: auto;
}
/* SEC 3 */
.section3 {
  width: 100%;
  height: auto;
  min-height: 950px;
  display: flex;
}
.section3 .sec3-l {
  width: 50%;
  height: 100%;
  min-height: 950px;
  background-color: #FFFFFF;
  position: relative;
}
.section3 .sec3-l .s3l_back {
  width: 100%;
  height: 470px;
  position: absolute;
  background-color: #F3F4F6;
  bottom: 0px;
  z-index: 1;
}
.section3 .sec3-l .s3left_wrap {
  background-image: url("../images/s3_dallascowboys.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  width: 550px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  z-index: 3;
}
.section3 .sec3-l .s3l_text {
  background-color: #EDEDEC;
  width: 550px;
  height: 190px;
  margin: auto;
  position: relative;
  z-index: 3;
}
.section3 .sec3-l .s3l_text .s3-twrap {
  padding-left: 50px;
  padding-top: 25px;
  position: relative;
  z-index: 3;
}
.section3 .sec3-l .s3l_text .s3-twrap h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #074BC3;
}
.section3 .sec3-l .s3l_text .s3-twrap p {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
  color: #5D5E71;
  padding-top: 12px;
  max-width: 450px;
}
.section3 .sec3-r {
  width: 50%;
  height: 100%;
  min-height: 950px;
  background-color: #28282A;
}
.section3 .sec3-r .s3right_wrap {
  padding-top: 100px;
  padding-left: 100px;
  margin: auto;
}
.section3 .sec3-r .s3right_wrap h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #FFFFFF;
  max-width: 500px;
}
.section3 .sec3-r .s3right_wrap p {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 20px;
  max-width: 500px;
  padding-bottom: 40px;
}
.section3 .sec3-r .s3right_wrap p a {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: underline;

}
.section3 .sec3-r .s3right_wrap .divide3 {
  width: 37px;
  height: 3px;
  background-color: #CFD1DA;
}
.section3 .sec3-r .s3right_wrap h2 {
  font-family: sofia-pro;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.71;
  padding-top: 80px;
  padding-bottom: 50px;
}
.section3 .sec3-r .s3right_wrap .s3_imagewrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}
.s3_imagewrap img {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.s3_imagewrap img.s3l_1 {
  height: 52px;
  width: 95px;
  margin-left: 0px;
}
.s3_imagewrap img.s3l_2 {
  height: 56px;
  width: 39px;
}
.s3_imagewrap img.s3l_3 {
  height: 43px;
  width: 95px;
}
.s3_imagewrap img.s3l_4 {
  height: 39px;
  width: 91px;
}
.s3_imagewrap img.s3l_5 {
  height: 73px;
  width: 61px;
  margin-left: 20px;
}
.s3_imagewrap img.s3l_6 {
  height: 56px;
  width: 68px;
}
.s3_imagewrap img.s3l_7 {
  height: 51px;
  width: 56px;
}
.s3_imagewrap img.s3l_8 {
  height: 52px;
  width: 98px;
}
.s3_imagewrap img.s3l_9 {
  height: 60px;
  width: 81px;
  margin-left: 10px;
}
.s3_imagewrap img.s3l_10 {
  height: 43px;
  width: 135px;
  margin-left: 0px;
}
.s3_imagewrap img.s3l_11 {
  height: 31px;
  width: 195px;
  margin-left: 0px;
}

/* SEC 4 */

.section4 {
  width: 100%;
  background-color: #fff;
  height: auto;
  min-height: 1450px;
  position: relative;
  overflow: hidden;
}
.section4 .sec4_wrap {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 190px;
  width: calc(100% - 180px);
  margin: auto;
}
.section4 .sec4_wrap h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #28282A;
}
.section4 .sec4_wrap .s4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 80px;
  width: 100%;
}
.section4 .sec4_wrap .s4 .s4box {
  width: 385px;
  height: 400px;
  margin: auto;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(1) {
  margin-left: 0px;
  margin-right: 32px;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(4) {
  margin-left: 0px;
  margin-right: 32px;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(7) {
  margin-left: 0px;
  margin-right: calc(18.6% - 180px);
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(8) {
  margin-left: 0px;
}
.section4 .sec4_wrap .s4 .s4box .s4_imghold {
  height: 70px;
}
.section4 .sec4_wrap .s4 .s4box img.s4-1 {
  width: 63px;
  height: auto;
}
.section4 .sec4_wrap .s4 .s4box img.s4-2 {
  height: 63px;
  width: auto;
}
.section4 .sec4_wrap .s4 .s4box h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #074BC3;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section4 .sec4_wrap .s4 .s4box p {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  color: #5D5E71;
}
.section4 img.s4bg {
  position: absolute;
  bottom: -600px;
  right: 0px;
  height: 1050px;
  width: auto;
}

/* SEC 5 */

.section5 {
  width: 100%;
  height: auto;
  min-height: 950px;
  display: flex;
}
.section5 .s5-left {
  width: 50%;
  background-color: #FFF;
  position: relative;
}

.section5 .s5-left .s5l-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 470px;
  background-color: #F3F4F6;
  z-index: 2;
}
.section5 .s5-left .s5l-wrap {
  background-image: url("../images/s5_Texas-Live.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 850px;
  width: 540px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  z-index: 3;
}
.section5 .s5-left .s5l-wrap .s5-textover {
  background: rgba(255, 255, 255, 0.79);
  width: 100%;
  min-height: 420px;
}
.section5 .s5-left .s5l-wrap .s5-textover h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 44px;
  color: #074BC3;
  padding-left: 40px;
  padding-top: 40px;
}
.section5 .s5-left .s5l-wrap .s5-textover h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  color: #5D5E71;
  padding-left: 40px;
  padding-top: 20px;
}
.section5 .s5-left .s5l-wrap .s5-textover p {
  font-family: sofia-pro;
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  color: #5D5E71;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.section5 .s5-right {
  width: 50%;
  background: linear-gradient(259.2deg, #1182E3 0%, #074BC3 100%);
}

/* SEC 5 ACCORDION */

.accordion {
  max-width: 560px;
  margin: 0 auto 100px;
  padding-top: 100px;
}
.accordion li {
  position: relative;
  display: initial;
}
.accordion li p {
  display: none;
  padding: 10px 25px 30px;
  color: #FFFFFF;
  opacity: 0.79;
}
.accordion li ol {
  display: none;
  padding: 10px 25px 30px;
  color: #FFFFFF;
  opacity: 0.79;
}
.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-family: sofia-pro;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 39px;
  font-size: 24px;
  text-indent: 15px;
  user-select: none;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.accordion a:after {
  width: 16px;
  height: 16px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: -15px;
  content: " ";
  top: 24px;
  transform: rotate(-135deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.55;
}
.accordion p {
  font-family: sofia-pro;
  font-size: 19px;
  opacity: 0.79;
  color: #FFFFFF;
  line-height: 2;
  line-height: 30px;
  padding: 10px;
}
.accordion p.s5p {
  font-size: 19px;
  line-height: 50px;
  opacity: 0.79;
  text-indent: 6px;
}
.accordion p.s5p span {
  padding-left: 20px;
}
.accordion p.se5p {
  font-size: 19px;
  line-height: 50px;
  opacity: 0.79;
  text-indent: 6px;
}
.accordion p.se5p span {
  padding-left: 20px;
}
a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 12px;
}

/* SEC 6 */

.section6 {
  width: 100%;
  height: auto;
  min-height: 950px;
  display: flex;
}
.section6 .s6-l {
  width: 50%;
  background-color: #28282A;
  display: flex;
  align-items: center;
}
.section6 .s6-l .s6l_wrap {
  padding-left: 90px;
}
.section6 .s6-l .s6l_wrap h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #FFFFFF;
  padding-bottom: 18px;
}
.section6 .s6-l .s6l_wrap p {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 530px;
  padding-bottom: 80px;
}
.section6 .s6-l .s6l_wrap .s6-line {
  width: 37px;
  height: 2px;
  background-color: #CFD1DA;
  margin-bottom: 94px;
}
.section6 .s6-l .s6l_wrap a {
  border: 1px solid #FFFFFF;
  text-decoration: none;
  display: flex;
  width: 373px;
  height: 76px;
}
.section6 .s6-l .s6l_wrap a .sec6_bwrap {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}
.section6 .s6-l .s6l_wrap a .sec6_bwrap h5 {
  font-family: sofia-pro;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  padding-right: 25px;
}
.section6 .s6-l .s6l_wrap a .sec6_bwrap img.b_arrow {
  height: 8px;
  width: auto;
}

.section6 .s6-r {
  width: 50%;
  background-color: #FFFFFF;
}
.section6 .s6-r .sec6r-wrap {
  background-image: url("../images/s6_careers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 850px;
  width: 540px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
/* SEC 7 */

.section7 {
  width: 100%;
  height: auto;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.section7 .sec7_box {
  width: 33.33%;
  height: 500px;
  margin: 8px;
  margin-top: 16px;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.section7 .sec7_box.b7-1 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section7 .sec7_box.b7-2 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section7 .sec7_box.b7-3 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}

.section7 .sec7_box .s7_text {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.86);
  height: 200px;
  width: 100%;
  padding-top: 25px;
  padding-left: 50px;
}
.section7 .sec7_box .s7_text h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #074BC3;
}
.section7 .sec7_box .s7_text p {
  font-family: sofia-pro;
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  color: #5D5E71;
  max-width: 375px;
  padding-top: 12px;
}

/* SEC 8 */

.section8 {
  width: 100%;
  height: auto;
  min-height: 1200px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
}
.section8 .sec8-wrap {
  margin: auto;
  position: relative;
  z-index: 3;
}
.section8 .sec8-wrap h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #28282A;
  padding-left: 11px;
  padding-bottom: 22px;
}

.section8 .sec8-wrap .s8-box_all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1300px;
}
.section8 .sec8-wrap .s8-box_all .s8-b {
  width: 300px;
  height: 450px;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 11px;
  border-radius: 5px;
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b1 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b2 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b3 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b4 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b5 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b6 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b7 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}
.section8 .sec8-wrap .s8-box_all .s8-b.s8_b8 {
  background-image: url("../images/!_TEMP_Photo Coming Soon.jpg");
}

.section8 .sec8-wrap .s8-box_all .s8-b .s8b-text {
  position: absolute;
  bottom: 0px;
  background-color: #074BC3;
  height: 106px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
.section8 .sec8-wrap .s8-box_all .s8-b .s8b-text h1 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #FFFFFF;
  padding-left: 18px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.section8 .sec8-wrap .s8-box_all .s8-b .s8b-text h2 {
  font-family: sofia-pro;
  font-size: 19px;
  font-weight: 600;
  line-height: 26px;
  color: #FFFFFF;
  padding-left: 18px;
}
.section8 img.s8-bg {
  position: absolute;
  top: -100px;
  left: 0px;
  z-index: 2;
  height: 850px;
  width: auto;
  transform: scaleX(-1);
}


/* SEC 9 */

.section9 {
  width: 100%;
  height: auto;
  min-height: 950px;
  display: flex;
}
/* SEC 9 - CONTACT US */
.section9 .s9-l {
  width: 50%;
  min-height: 950px;
  background-color: #fff;
  position: relative;
  display: flex;
}

.section9 .s9-l .s9-wrap {
  width: 550px;
  height: 750px;
  background-image: url("../images/s3_dallascowboys.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 3;
  margin: auto;
}
.s9-wrap .s9-cl {
  background-color: rgba(93, 94, 113, 0.83);
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
}
.s9-wrap .s9-cl .s9text {
}
.s9-wrap .s9-cl .s9text h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #FFFFFF;
  padding-left: 53px;
}

.s9-wrap .s9-cl .s9text .s9box {
  padding-left: 58px;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.s9-wrap .s9-cl .s9text .s9box:nth-of-type(1) {
  padding-top: 46px;
}
.s9-wrap .s9-cl .s9text .s9box img.s9map {
  height: 38px;
  width: auto;
  padding-left: 6px;
}
.s9-wrap .s9-cl .s9text .s9box img.s9email {
  height: 32px;
  width: auto;
}
.s9-wrap .s9-cl .s9text .s9box img.s9phone {
  height: 38px;
  width: auto;
}
.s9-wrap .s9-cl .s9text .s9box h3 {
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 52px;
}
.s9-wrap .s9-cl .s9text .s9box a.s9e h3 {
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 46px;
  text-decoration: underline;
}
.s9-wrap .s9-cl .s9text .s9box a.s9p h3 {
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 50px;
}
/* SEC 9 - LEFT TOP BG COLOR */
.section9 .s9-l .s9l-bg {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 470px;
  background-color: #F3F4F6;
  z-index: 2;
}
/* SEC 9 - RIGHT (FORM) */
.section9 .s9-r {
  width: 50%;
  min-height: 950px;
  background-color: #28282A;
  display: flex;
  align-items: center;
}
.section9 .s9-r .se9-form {
  width: 530px;
  height: 860px;
  margin: auto;
}
.section9 .s9-r .se9-form h1 {
  font-family: sofia-pro;
  font-size: 34px;
  font-weight: 600;
  line-height: 51px;
  color: #FFFFFF;
}
.section9 .s9-r .se9-form form {
  width: 100%;
  height: auto;
}
form .lin1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 8px;
}
form .lin1 .l1-l {
  width: 237px;
  display: flex;
  flex-direction: column;
}
form .lin1 .l1-r {
  width: 260px;
  display: flex;
  flex-direction: column;
}
form label {
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
form input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  box-sizing: border-box;
  background: transparent;
  opacity: 0.56;
  height: 57px;
  color: #fff;
}
form .lin2 {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
form .lin3 {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}
select#inter {
  -webkit-appearance: textarea;
}
.selectdiv {
  position: relative;
  display: flex;
  flex-direction: column;
}

.selectdiv:after {
    content: '\f0d7';
    font: normal normal normal 17px/1 FontAwesome;
    color: #C7C7C7;
    right: 11px;
    top: 12px;
    height: 57px;
    padding: 20px 25px 0px 30px;
    border-left: 1px solid #65666a;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 23px;
  display: block;
  width: 100%;
  height: 57px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  color: #FFFFFF;
  background: transparent;
  opacity: 0.86;
  border: 1px solid #FFFFFF;
  -ms-word-break: normal;
  word-break: normal;
  margin-top: 12px;
}

/* SEC 9 FORM, Field 5 */

form .lin5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 8px;
}
form .lin5 .l1-l {
  width: 274px;
  display: flex;
  flex-direction: column;
}
form .lin5 .l1-r {
  width: 219px;
  display: flex;
  flex-direction: column;
}

/* SEC 9 FORM, Field 6 TextArea */

form .lin6 {
  width: 100%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
form .lin6 textarea.f6 {
  background-color: transparent;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  opacity: 0.56;
  margin-top: 8px;
  height: 90px;
  color: #fff;
}
/* SEC 9 FORM, Field 7 ReCAPTCHA + SUBMIT */

form .lin7 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 8px;
  align-items: center;
}
form .lin7 .l1-l {
  width: 274px;
  display: flex;
  flex-direction: column;
}
form .lin7 .l1-r {
  width: 186px;
  display: flex;
  flex-direction: column;
}
input[type=submit] {
  width: 100%;
  background-color: transparent;
  padding: 14px 12px;
  margin: 8px 0;
  cursor: pointer;
  border: none;
  font-family: sofia-pro;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* FOOTER ".ft" */

.ft {
  width: 100%;
  height: auto;
  min-height: 350px;
  background: linear-gradient(128.28deg, #1182E3 0%, #002A75 100%);
  position: relative;
}
.ft img.foot-bg {
  position: absolute;
  opacity: 0.34;
  height: 320px;
  width: auto;
  left: 0px;
  bottom: 0px;
}
.ft .fwrap {
  width: calc(100% - 180px);
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: relative;
  z-index: 5;
}
.ft .fwrap .f-l {
  width: 60%;
  height: auto;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ft .fwrap .f-r {
  width: 40%;
  height: auto;
  min-height: 350px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  text-align: right;
}

.ft .fwrap .f-l a.logo-f img.logo-ft {
  width: 124px;
  height: 54px;
}
.ft .fwrap .f-l a.logo-f {
  display: flex;
  justify-content: left;
  width: 100%;
}
.ft .fwrap .f-l p {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  opacity: 0.89;
  color: #FFFFFF;
  padding-top: 40px;
}

.ft .fwrap .f-r .fr-wrap {
  width: 100%;
  height: auto;
  min-height: 190px;
  position: relative;
}
.ft .fwrap .f-r .fr-wrap .fr_top {
  display: flex;
  justify-content: flex-end;
}
.ft .fwrap .f-r .fr-wrap .fr_top a {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 20px;
}
.ft .fwrap .f-r .fr-wrap .fr_top a.f-phn {
  padding-right: 0px;
}

.ft .fwrap .f-r .fr-wrap .fr_bot {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.ft .fwrap .f-r .fr-wrap .fr_bot h4 {
  font-family: sofia-pro;
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  color: #FFFFFF;
}
.ft .fwrap .f-r .fr-wrap .fr_bot h4 a {
  font-family: sofia-pro;
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  padding-left: 12px;
}

/* -- MEDIA QUERIES -- */
/*  Sorted By Section  */
/*   -- Per Query --   */

@media only screen and (min-width: 1441px) {

/* SEC 1 */

.section1 .s1_contain img.img1_1-2 {
  left: 0px;
  height: auto;
  width: 50vw;
  bottom: -210px;
}

}
@media only screen and (min-width: 1501px) {

  /* SEC 4 */

.section4 .sec4_wrap .s4 {
  width: 1350px;
}
}
@media only screen and (min-width: 1651px) {

  /* SEC 1 */

.section1 .s1_contain img.img1_1-2 {
  width: 57vw;
}

}
@media only screen and (min-width: 1701px) {

  /* SEC 1 */

.section1 .s1_contain img.img1_2-2 {
  height: 1350px;
  bottom: -150px;
}
  /* FOOTER */
.ft .fwrap .f-r .fr-wrap {
  min-height: 170px;
}

}
@media only screen and (min-width: 1901px) {

  /* SEC 1 */

.section1 .s1_contain img.img1_2-2 {
  height: 1450px;
  bottom: -200px;
}
  /* SEC 4 */

.section4 .sec4_wrap .s4 {
  width: 100%;
}
.section4 .sec4_wrap .s4 .s4box {
  width: 25%;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(7) {
  margin-right: calc(17.6% - 180px);
}

}
