/* UNIVERSAL */

body {
    display: block;
    margin: 0px;
    overflow-x: hidden;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1,h2,h3,h4,h5,h6 {
    display: block;
    font-size: 1em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: normal;
    margin: 0;
}
img {
  vertical-align: inherit;
}

/* ADOBE FONT NOTES BELOW */
/*
--USE-- Sofia Pro Light
font-family: sofia-pro, sans-serif;
font-weight: 300;
font-style: normal;

--USE-- Sofia Pro Semi Bold
font-family: sofia-pro, sans-serif;
font-weight: 600;
font-style: normal;

--BACKUP IF NEEDED-- Sofia Pro Bold
font-family: sofia-pro, sans-serif;
font-weight: 700;
font-style: normal;
--BACKUP IF NEEDED-- Sofia Pro Regular
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;
*/

.section1 {
  width: 100%;
  height: auto;
  min-height: 1150px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.section1 .s1_contain {
  width: 100%;
  display: flex;
}
.section1 .s1_contain img.img1_1-2 { /* Honey Comb Pattern */
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1200px;
  width: auto;
  z-index: 2;
}
.section1 .s1_contain img.img1_2-2 { /* Parkland Building */
  position: absolute;
  bottom: -50px;
  right: 0px;
  height: 1150px;
  width: auto;
  z-index: 3;
}

/* SEC 1 TOP Left Content */

.section1 .s1_top {
  padding-left: 85px;
  padding-top: 60px;
  position: relative;
  z-index: 5;
}
.section1 .s1_top a.one img.logo-top {
  width: 124px;
  height: 54px;
}
.section1 .s1_top a.one {

}
.section1 .s1_top h1 {
  font-family: sofia-pro;
  font-weight: 600;
  font-size: 57px;
  line-height: 68px;
  color: #28282A;
  padding-top: 215px;
  max-width: 500px;
}
.section1 .s1_top h1 span {
  color: #074BC3;
}
.section1 .s1_top p {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  color: #5D5E71;
  padding-top: 20px;
  max-width: 450px;
}
/* SEC 1 Pull Up Form */

#vn {
  transition: 0.3s;
}
.section1 .s1_pullup {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 500px;
  height: 800px;
  z-index: 20;
  transition: 0.3s;
}
.section1 .s1_pullup.f-pre {
  bottom: -700px;
  display: block;
  transition: 0.2s;
}
.section1 .s1_pullup .f-pretab {
  height: 100px;
  width: 500px;
  border-radius: 0 5px 0 0;
  background: linear-gradient(180deg, #1182E3 0%, #074BC3 100%);
  position: relative;
  bottom: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.section1 .s1_pullup .f-pretab .b-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.section1 .s1_pullup .f-pretab .b-wrap h3 {
  font-family: sofia-pro;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 19px;
  color: #FFFFFF;
  padding-right: 163px;
}
.section1 .s1_pullup .f-pretab .b-wrap img.slider {
  height: 21px;
  width: 21px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
}
.theform {
  display: none;
  width: 500px;
  height: 800px;
  background-color: red;
  bottom: 700px;
  position: relative;
}
.theform .f-close {
  height: 90px;
  width: 81px;
  background-color: #074BC3;
  position: relative;
  left: 420px;
  cursor: pointer;
}
.no-show {
  display: none;
}
/* SEC 2 */
.section2 {
  width: 100%;
  height: auto;
  min-height: 136px;
  background-color: #5D5E71;
  display: flex;
  align-items: center;
}
.section2 .s2_wrap {
  width: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2 .s2_wrap h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #FFFFFF;
}
.section2 .s2_wrap a {
  border: 1px solid #FFFFFF;
  text-decoration: none;
}
.section2 .s2_wrap a .s2btnwrap {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;

}
.section2 .s2_wrap a .s2btnwrap h5 {
  font-family: sofia-pro;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  padding-right: 25px;
}
.section2 .s2_wrap a .s2btnwrap img.b_arrow {
  height: 8px;
  width: auto;
}
/* SEC 3 */
.section3 {
  width: 100%;
  height: auto;
  min-height: 950px;
  display: flex;
}
.section3 .sec3-l {
  width: 50%;
  height: 100%;
  min-height: 950px;
  background-color: #FFFFFF;
  position: relative;
}
.section3 .sec3-l .s3l_back {
  width: 100%;
  height: 470px;
  position: absolute;
  background-color: #F3F4F6;
  bottom: 0px;
  z-index: 1;
}
.section3 .sec3-l .s3left_wrap {
  background-image: url("../images/s3_dallascowboys.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  width: 550px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  z-index: 3;
}
.section3 .sec3-l .s3l_text {
  background-color: #EDEDEC;
  width: 550px;
  height: 190px;
  margin: auto;
  position: relative;
  z-index: 3;
}
.section3 .sec3-l .s3l_text .s3-twrap {
  padding-left: 50px;
  padding-top: 25px;
  position: relative;
  z-index: 3;
}
.section3 .sec3-l .s3l_text .s3-twrap h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #074BC3;
}
.section3 .sec3-l .s3l_text .s3-twrap p {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
  color: #5D5E71;
  padding-top: 12px;
  max-width: 450px;
}
.section3 .sec3-r {
  width: 50%;
  height: 100%;
  min-height: 950px;
  background-color: #28282A;
}
.section3 .sec3-r .s3right_wrap {
  padding-top: 100px;
  padding-left: 100px;
  margin: auto;
}
.section3 .sec3-r .s3right_wrap h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #FFFFFF;
  max-width: 500px;
}
.section3 .sec3-r .s3right_wrap p {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  padding-top: 20px;
  max-width: 500px;
  padding-bottom: 40px;
}
.section3 .sec3-r .s3right_wrap p a {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: underline;

}
.section3 .sec3-r .s3right_wrap .divide3 {
  width: 37px;
  height: 3px;
  background-color: #CFD1DA;
}
.section3 .sec3-r .s3right_wrap h2 {
  font-family: sofia-pro;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.71;
  padding-top: 80px;
  padding-bottom: 50px;
}
.section3 .sec3-r .s3right_wrap .s3_imagewrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}
.s3_imagewrap img {
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.s3_imagewrap img.s3l_1 {
  height: 52px;
  width: 95px;
  margin-left: 0px;
}
.s3_imagewrap img.s3l_2 {
  height: 56px;
  width: 39px;
}
.s3_imagewrap img.s3l_3 {
  height: 43px;
  width: 95px;
}
.s3_imagewrap img.s3l_4 {
  height: 39px;
  width: 91px;
}
.s3_imagewrap img.s3l_5 {
  height: 73px;
  width: 61px;
  margin-left: 20px;
}
.s3_imagewrap img.s3l_6 {
  height: 56px;
  width: 68px;
}
.s3_imagewrap img.s3l_7 {
  height: 51px;
  width: 56px;
}
.s3_imagewrap img.s3l_8 {
  height: 52px;
  width: 98px;
}
.s3_imagewrap img.s3l_9 {
  height: 60px;
  width: 81px;
  margin-left: 10px;
}
.s3_imagewrap img.s3l_10 {
  height: 43px;
  width: 135px;
  margin-left: 0px;
}
.s3_imagewrap img.s3l_11 {
  height: 31px;
  width: 195px;
  margin-left: 0px;
}

/* SEC 4 */

.section4 {
  width: 100%;
  background-color: #fff;
  height: auto;
  min-height: 1450px;
  position: relative;
  overflow: hidden;
}
.section4 .sec4_wrap {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 190px;
  padding-left: 80px;
}
.section4 .sec4_wrap h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #28282A;
}
.section4 .sec4_wrap .s4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 80px;
  width: 1300px;
}
.section4 .sec4_wrap .s4 .s4box {
  width: 400px;
  height: 400px;
  margin: auto;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(1) {
  margin-left: 0px;
  margin-right: 32px;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(4) {
  margin-left: 0px;
  margin-right: 32px;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(7) {
  margin-left: 0px;
  margin-right: 32px;
}
.section4 .sec4_wrap .s4 .s4box:nth-of-type(8) {
  margin-left: 16px;
}
.section4 .sec4_wrap .s4 .s4box .s4_imghold {
  height: 70px;
}
.section4 .sec4_wrap .s4 .s4box img.s4-1 {
  width: 63px;
  height: auto;
}
.section4 .sec4_wrap .s4 .s4box img.s4-2 {
  height: 63px;
  width: auto;
}
.section4 .sec4_wrap .s4 .s4box h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #074BC3;
  padding-top: 25px;
  padding-bottom: 25px;
}
.section4 .sec4_wrap .s4 .s4box p {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  color: #5D5E71;
}
.section4 img.s4bg {
  position: absolute;
  bottom: -790px;
  right: 0px;
  height: 1190px;
  width: auto;
}

/* SEC 5 */

.section5 {
  width: 100%;
  height: auto;
  min-height: 950px;
  display: flex;
}
.section5 .s5-left {
  width: 50%;
  background-color: #F3F4F6;
}
.section5 .s5-left .s5l-wrap {
  background-image: url("../images/s5_Texas-Live.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 850px;
  width: 540px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.section5 .s5-left .s5l-wrap .s5-textover {
  background: rgba(255, 255, 255, 0.79);
  width: 100%;
  min-height: 420px;
}
.section5 .s5-left .s5l-wrap .s5-textover h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 44px;
  color: #074BC3;
  padding-left: 40px;
  padding-top: 40px;
}
.section5 .s5-left .s5l-wrap .s5-textover h2 {
  font-family: sofia-pro;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  color: #5D5E71;
  padding-left: 40px;
  padding-top: 20px;
}
.section5 .s5-left .s5l-wrap .s5-textover p {
  font-family: sofia-pro;
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  color: #5D5E71;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.section5 .s5-right {
  width: 50%;
  background: linear-gradient(259.2deg, #1182E3 0%, #074BC3 100%);
}

/* SEC 5 ACCORDION */

.accordion {
  max-width: 560px;
  margin: 0 auto 100px;
  padding-top: 100px;
}
.accordion li {
  position: relative;
  display: initial;
}
.accordion li p {
  display: none;
  padding: 10px 25px 30px;
  color: #FFFFFF;
  opacity: 0.79;
}
.accordion li ol {
  display: none;
  padding: 10px 25px 30px;
  color: #FFFFFF;
  opacity: 0.79;
}
.accordion a {
  width: 100%;
  display: block;
  cursor: pointer;
  font-family: sofia-pro;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 39px;
  font-size: 24px;
  text-indent: 15px;
  user-select: none;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.accordion a:after {
  width: 16px;
  height: 16px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: -15px;
  content: " ";
  top: 24px;
  transform: rotate(-135deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0.55;
}
.accordion p {
  font-family: sofia-pro;
  font-size: 19px;
  opacity: 0.79;
  color: #FFFFFF;
  line-height: 2;
  line-height: 30px;
  padding: 10px;
}
a.active:after {
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 12px;
}

/* SEC 6 */

.section6 {
  width: 100%;
  height: auto;
  min-height: 950px;
  display: flex;
}
.section6 .s6-l {
  width: 50%;
  background-color: #28282A;
  display: flex;
  align-items: center;
}
.section6 .s6-l .s6l_wrap {
  padding-left: 90px;
}
.section6 .s6-l .s6l_wrap h1 {
  font-family: sofia-pro;
  font-size: 37px;
  font-weight: 600;
  line-height: 51px;
  color: #FFFFFF;
  padding-bottom: 18px;
}
.section6 .s6-l .s6l_wrap p {
  font-family: sofia-pro;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  max-width: 530px;
  padding-bottom: 80px;
}
.section6 .s6-l .s6l_wrap .s6-line {
  width: 37px;
  height: 2px;
  background-color: #CFD1DA;
  margin-bottom: 94px;
}
.section6 .s6-l .s6l_wrap a {
  border: 1px solid #FFFFFF;
  text-decoration: none;
  display: flex;
  width: 373px;
  height: 76px;
}
.section6 .s6-l .s6l_wrap a .sec6_bwrap {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}
.section6 .s6-l .s6l_wrap a .sec6_bwrap h5 {
  font-family: sofia-pro;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  padding-right: 25px;
}
.section6 .s6-l .s6l_wrap a .sec6_bwrap img.b_arrow {
  height: 8px;
  width: auto;
}

.section6 .s6-r {
  width: 50%;
  background-color: #FFFFFF;
}
.section6 .s6-r .sec6r-wrap {
  background-image: url("../images/s6_careers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 850px;
  width: 540px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
